//dashboard admin

.dashboard-wrapper, .dashboard-products-wrapper, .dashboard-hotproducts-wrapper, .dashboard-faq-wrapper {
    background-color: #D8702C;
    background: -webkit-linear-gradient(315deg, #D8702C 0%, #D8702C 30%, #ffbe4b 100%) fixed;
    background: linear-gradient(135deg, #D8702C 0%, #D8702C 30%, #ffbe4b 100%) fixed;
    min-height: 100%;

    .dashboard, .dashboard-products, .dashboard-hotproducts, .dashboard-faq {
    padding-top: 50px;

        h1 {
            color: $dark-gray;
        }
        
    }
}

//faq admin

.FAQ-edit {
    text-align: center;
}

.FAQ-edit ul {
    list-style-type: none;
    padding: 0;
}

.FAQ-edit ul li {
    padding: 5px;
}

.FAQ-edit ul li a, .FAQ-edit ul li button{
    width: 100%;
}

.new-FAQ, .edit-FAQ, .new-product, .edit-product, .products-table, .hotproducts-table {
    background-color: white;
    margin: 15px 0;
    padding: 15px;
}

//products admin

.products-table ul, .hotproducts-table ul{
    list-style-type: none;
    padding: 0;
}

.products-table ul li, .hotproducts-table ul li{
    padding: 5px;
}

.products-table ul li a, .products-table ul li button, .hotproducts-table ul li a, .hotproducts-table ul li button{
    width: 100%;
}

.new-product table ul {
    list-style-type: none;
    padding: 0;
}

.form-group .photo {
    margin: 10px 0;
}

.color-field ul {
    list-style-type: none;
    padding: 0;
}

.color-field input[type=checkbox]{
    margin-right: 10px;
}

.dimensions {
    display: block;
    margin: 10px 0;
}