/* OVERALL STYLING */

body, html {
    min-height: 100%;
    height: 100%;
}

body {
    font-size: 13px;
}

.container {
    height: 100%;
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
}


.tag {
  background: $dark-gray;
  border-radius: 3px 0 0 3px;
  color:white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 8px 0 18px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: $gray;
  border-radius: 10px;
  box-shadow: inset 0 1px $dark-gray;
  height: 6px;
  right: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: $gray;
  border-bottom: 13px solid transparent;
  border-right: 10px solid $dark-gray;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}

.form-validation {
    color: red;
}

.btn-primary {
    background-color: $dark-gray;
    border: $dark-gray solid 1px;
}

.btn-primary:hover {
    background-color: $dark-gray;
    border: $dark-gray solid 1px;
}

/* NAV STYLING */

aside
{
    position: fixed;
    width: 60px;
    top: 0;
    bottom: 0;
    background-color: $dark-gray;
    z-index: 100;
    color: white;
    
    .top {
        position: absolute;
        width: 100%;
        padding: 0 5px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li{
            padding: 11px;

            img{
                margin-right: 15px;
            }
        }
    }

    .bottom {
        position: absolute;
        left:0px;
        bottom:0px;
        margin-left: 7px;
        width: 100%;

        strong {
            margin-bottom: 10px;
        }
    }

    a {
        color: white;
    }
    a:hover {
        color: inherit;
    }
}

.glyphicon-envelope, .glyphicon-lock, .glyphicon-log-out {
    font-size: 22px;
    margin-right: 15px;
}

.nav-search:hover, .nav-FAQ:hover {
    color: $light-gray;
}

.nav-extend {
    width: 210px;
}

.nav-normal {
    width: 50px;
}

.nav-search, .nav-FAQ {
    color: $light-gray;
}

.active-FAQ, .active-search, .active-other {
    background-color: #ededed;
}

.category-icon {
    width: 29px;
}

.language {
    margin-right: 15px;
}

.active-other a {
    color: $light-gray;
}

.active-other a:hover {
    color: $light-gray;
}

/* CAROUSEL */

.img-carousel {
    background-image: url('/img/carousel/carous1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 400px;
}

.img-carousel2 {
    background-image: url('/img/carousel/carous2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 400px;
}

.img-carousel3 {
    background-image: url('/img/carousel/carous3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 400px;
}

.slider-progress {
    width: 100%;
    height: 3px;
    background: #c9839a;
        
    .progress {
        width: 0%;
        height: 3px;    
        background: #c2114b;
        margin-top: 40px;
    }
}

.slick-dots {
    position: relative;
    margin-top: -60px;

        li {
        width: 12px;
        height: 12px;
        background: white;
        border-radius: 100%;
        border: solid 2px grey;

        button {
            width: 12px;
            height: 12px;
            border-radius: 100%;
            border: solid 1px grey;
        }

        button, button:before {
            color: transparent;
            opacity: 0;
        }
    }
}

.slick-dots li.slick-active {
    background: black;
}

/* HOMEPAGE STYLING */

.visitstore{
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 4px;
}

.content-wrapper {
    padding: 20px;
    color: white;
    background-color: $gray;
    min-height: calc(100% - 400px);
}

.info {
    text-align: center;
    margin: 15px 75px;
}

.categories {
    text-align: center;
    margin: 30px 0;
    
    a {
        color: white;
    }
}

.category {
    font-size: 18px;

    img {
        height: 80px;
        padding: 15px;
    }
}

.divider-vertical {
    border-right: solid 1px $light-gray;
}
.divider-vertical:last-child{
    border-right: solid 0px $light-gray;
}

.hot-item {
    background-color: $light-gray;
    padding: 5px;
    margin: 5px 2px;
    
    .photo {
        text-align: center;
    }
}

.hot-items .col-md-3 {
    padding: 0 2px;
}

.hot-items a {
    color: white;
}

.hot-items-wrapper {
    margin-bottom: 50px;
}

.photo {
    height: 110px;
    overflow: hidden;
}

.photo img {
    height: 100%;
}

.hot-item-info {
    padding: 5px 5px 0 5px;
}

.subscribe-info {
    text-align: center;
    background-image: url('/img/Patroon_A.jpg');
    height: 100%;
}

.subscribe-info h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

.subscribe-form-wrapper {
    background-color: $light-gray;
    height: 100%;
    padding: 20px;
}

.susbcribe-form {
    margin: 10px 0;
}

.subscribe-wrapper {
    height: 180px;
}

.subscribe {
    margin: 15px 0;
}

.btn-subscribe, .subscribe input {
    padding: 5px;
}

.subscribe input {
    color: black;
}

.horizontal-divider {
    border: 1px solid $light-gray;
}

.toggle-nav:hover {
    cursor: pointer;
}

.wrapper {
    margin-left: 50px;
    height: 100%;
}
